<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about-us.css') }}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Playfair Display SC:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Times New Roman:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Sansation:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open Sans:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Playfair Display:wght@600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Cambria:wght@400&display=swap"
    />

    <style>
      @font-face {
        font-family: "Lato";
        src: url("{{ url_for('static', filename='fonts/Lato-Bold.ttf') }}");
        font-weight: 800;
      }
    </style>
  </head>
  <body>
    <div class="about-us2">
      <div class="about-us-inner">
        <div class="frame-item"></div>
      </div>
      <div class="about-us-child">
        <div class="transparent-tu-bshevat-growth-parent">
          <img
            class="transparent-tu-bshevat-growth-icon"
            alt=""
            src="{{ url_for('static', filename='images/transparenttubshevatgrowthrenewalstrengthresiliencecolorfultreesymbolizesgrowthstrengthandres65a7734bddb936-1@2x.png') }}"
          />

          <div class="about-us-wrapper">
            <b class="about-us3">About Us</b>
          </div>
          <div class="ellipse-parent">
            <div class="frame-inner"></div>
            <div class="ellipse-div"></div>
          </div>
        </div>
      </div>
      <div class="frame-div">
        <div class="frame-child1"></div>
      </div>
    </div>
  </body>
</html>
